<!DOCTYPE html>
<html lang= "en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}{% endblock %}</title>    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
         <!-- Custom styles for this template -->
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}">
        </head>
        <body> 
            <div class="container">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills float-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                            {%if session['username' or session['email']]%}
                            <li class="nav-item pull-right">
                                    <a class="nav-link" href="/logout">Logout</a>
                            {%endif%}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> 
            {%if response in response%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                {{ response }}
            </div>
            {%endif%}
            <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>  
            {% block page_body %}
            {% endblock %}
            <br>
            <br>
            <br>
            <br>
            <div id="footer">
                <div class="container text-center">
                    <p>© 2017 <a href="/">Shopping List App</a></p>
                </div>
            </div>
        
        </body>
        </html>