{% extends "base.html" %}
{% block page_title%}Dashboard{% endblock%}
{% block page_body %}
        <nav class="navbar nav-collapse ">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class=" active"><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                </ul>
            </div>
        </nav>
        <div class="button">
        <button class="btn btn-danger pull-right">Delete</button>
        <button class="btn btn-success pull-right">Add</button>
        </div>
        <div id="legend">
                <legend class="">Dashboard</legend>
        </div>
        <div class="table-responsive table-striped table-hover table-condensed">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Number of Items</th>
                  <th>Details</th>
                  <th>Date Created</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><input type="checkbox" name ="" /></td>
                    <td>Anna</td>
                    <td>4</td>
                    <td class=" btn-link"><a href="/details">details</a></td>
                    <td>28-08-2017</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name ="" /></td>
                    <td>Anna</td>
                    <td>4</td>
                    <td class=" btn-link"><a href="/details">details</a></td>
                    <td>28-08-2017</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name ="" /></td>
                    <td>Anna</td>
                    <td>4</td>
                    <td class=" btn-link"><a href="/details">details</a></td>
                    <td>28-08-2017</td>
                </tr>

              </tbody>
            </table>
            </div>
          </div>
{% endblock%}
