{% extends "base.html" %}
{% block page_title%}Dashboard{% endblock%}
{% block page_body %}
<div class="container">
        <fieldset>
            <form action="" method="POST">
                <h5 class="form-signin-heading">{{user}}'s Dashboard</h5>
                <br>
                <input type="text" class = "input-xlarge" placeholder="List name" name="list_name">
                <button type="submit" class="btn btn-sm btn-warning" value="add" onclick='this.form.action="/dashboard/add_list";'>Add</button>       
            </form>
            <br>
        <div class="table-responsive table-striped table-hover">
            <h5><strong>Shopping Lists</strong></h5>
            <br>
            {{table_out}}
        </div>
        </fieldset>
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title">Form for editing "{{old_name}}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form action="/dashboard/edit_list" method="POST">
                <input type="text" class = "input-xlarge " value={{old_name}} name="old_name" readonly>
                <input type="text" class = "input-xlarge " placeholder="New List Name" name="new_name">
                <hr>
                <button type="submit" class="btn btn-sm btn-outline-success " value="add">Update Changes</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
