{% extends "base.html" %}
{% block page_title %}Details{% endblock%}
{% block page_body %}
<div class="container">
        <form action="" method="POST">
            <h5 class="form-signin-heading"><strong>Items of "<em>{{list_name}}</em>" Shopping List.</strong></h5>
            <br>
            <input type="text" class = "input-xlarge" placeholder="Item name" name="item_name"></input>
            <button type="submit" class="btn btn-sm btn-success" value="add" onclick='this.form.action="./add_item";'>Add</button>
            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editModal">Edit</button>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#shareModal">Share List</button>       
        </form>
        <br>
        <br>
        <div class="table-responsive table-striped table-hover table-condensed">
            {{table_out}}
        </div>
</div>
<div class="modal fade" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form for editing item name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="./edit_item" method="POST">
                    <input type="text" class = "input-xlarge " placeholder="Current Item Name" name="old_name">
                    <input type="text" class = "input-xlarge " placeholder="New Item Name" name="new_name">
                    <hr>
                    <button type="submit" class="btn btn-sm btn-outline-success " value="add">Update Changes</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="shareModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form for Sharing iLists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="./share_list" method="POST">
                <input type="text" class = "input-xlarge " placeholder="user1,user2,user3" name="share_with">
                <hr>
                <button type="submit" class="btn btn-sm btn-outline-warning " value="add">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
          