{% extends "base.html" %}
{% block page_title %}Details{% endblock%}
{% block page_body %}
        <nav class="navbar nav-collapse collapse right">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                </ul>
            </div>
        </nav>
        <form action="/add_item" method="POST">
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
            <button type="submit" class="btn btn-success pull-right">Add</button>
            <input type="text" class = "input-xlarge pull-right" placeholder="Item name" name="item_name"></input>       
        </form>
        <div id="legend">
                <legend class="">Shopping List Details</legend>
        </div>
        <div class="table-responsive table-striped table-hover table-condensed">
            {{table_out}}
            </div>
          </div>
{% endblock%}
          