{% extends "base.html" %}
{% block page_title %}Home{% endblock%}
{% block page_body %}
    <div class="jumbotron jumbotron-fluid text-center" style=" background-color:aliceblue">
            <div class=" container">
                <h1 class=" display-4">Welcome</h1>
                <p class=" lead">The Ultimate Shopping List App</p>
                <a href="/login" class="btn btn-sm btn-outline-success" role="button" aria-disabled="true">Login</a>
                <a href="/signup" class="btn btn-sm btn-outline-success" role="button" aria-disabled="true">Signup</a>
            </div>
    </div>   
{% endblock%}
        